<!-- app_contact/templates/app_contact/recive_notification_email.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>New USer Register</title>
</head>

<body>
    <div class="container">
        <h2>New user has registered</h2>
        <p><strong>Name:</strong> {{ name }}</p>
        <p><strong>Email:</strong> {{ email }}</p>
        <p>This is just a notification to let you know a new user has joined the site.</p>

        <div class="footer">
            &copy; {{ current_year }} Darwin Sarmiento - Portfolio Website
        </div>
    </div>
</body>